<!DOCTYPE html>
    <html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="K2 Fitness Studio thirumullaivoyal gym ambattur kolathur" >
        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="/assets/img/Screenshot_134.png" type="image/x-icon">

        <!--=============== REMIXICON ===============-->
        <link rel="stylesheet" href="/assets/css/boostrap.min.css" >
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="shortcut icon" href="#">

        <title>K2 Fitness studio</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/" class="nav__logo">
                    <img src="/assets/img/K2_logo.png" alt="logo"> 
                </a>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/#home" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#program" class="nav__link">Program</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#choose" class="nav__link">Why Us</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#pricing" class="nav__link">Pricing</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#contact" class="nav__link">Contact</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://www.google.com/maps/place/k2+fitness+studio,+3c+sibi+complex+saraswathi+nagar+main+road+ambattur,+Thirumullaivoyal,+Chennai,+Tamil+Nadu+600053/@13.1300977,80.139711,19z/data=!4m6!3m5!1s0x3a52636a5c107553:0x7486e3864ac29a3d!8m2!3d13.1301611!4d80.1393651!16s%2Fg%2F11mvgntmc2" target="_blank" class="nav__link">Visit Us</a>
                        </li>

                        <div class="nav__link">
                            <a href="https://wa.me/<%= process.env.PHONE %>?text=I%20wish%20to%20know%20more%20about%20your%20programs%20😇" target="_blank" id="register" class="button nav__button">
                               Contact now
                            </a>
                        </div>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <!-- toggle button  -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </nav>
        
            <div class="glowing">
    
                <span style="--i:1;"></span>
                
                <span style="--i:2;"></span>
                
                <span style="--i:3;"></span>
                
              </div>
            <div class="glowing">
    
                <span style="--i:1;"></span>
                
                <span style="--i:2;"></span>
                
                <span style="--i:3;"></span>
                
              </div>
            <div class="glowing">
    
                <span style="--i:1;"></span>
                
                <span style="--i:2;"></span>
                
                <span style="--i:3;"></span>
                
              </div>
        </header>

        <main>
            <%- body %> 
        </main>
              <!-- ==================FAQs============================== -->
              <section>
                
                <div class="faq container">
                    <h1 style="padding-bottom: 2vh;">FAQS</h1>
                    <div class="question">
                        <h3>What is JS?</h3>
    
                        <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round">
                        </svg>
                    </div>
                    <div class="answer">
                        <p>
                            JS Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veritatis omnis esse dolorem, laborum aliquid blanditiis ex voluptatum, aperiam vel, veniam dolore voluptatem perspiciatis eum ipsam consequatur unde enim sunt?
                        </p>
                    </div>
                </div>
                <div class="faq container">
                    <div class="question">
                        <h3>What is JS?</h3>
    
                        <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round">
                        </svg>
                    </div>
                    <div class="answer">
                        <p>
                            JS Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veritatis omnis esse dolorem, laborum aliquid blanditiis ex voluptatum, aperiam vel, veniam dolore voluptatem perspiciatis eum ipsam consequatur unde enim sunt?
                        </p>
                    </div>
                </div>
                <div class="faq container">
                    <div class="question">
                        <h3>What is JS?</h3>
    
                        <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round">
                        </svg>
                    </div>
                    <div class="answer">
                        <p>
                            JS Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veritatis omnis esse dolorem, laborum aliquid blanditiis ex voluptatum, aperiam vel, veniam dolore voluptatem perspiciatis eum ipsam consequatur unde enim sunt?
                        </p>
                    </div>
                </div>
        </section>

        <!--==================== FOOTER ====================-->
        <footer class="footer section" id="footer">
            <div class="footer__container container grid">
                <div>
                    <a href="#home" class="footer__logo">
                        <img src="/assets/img/K2_logo.png" alt=""> 
                    </a>
                    <p class="footer__description">
                        Subscribe for company <br> updates below.
                    </p>

                    <form action="#" class="footer__form" id="contact-form">
                        <input type="email" name="user_email" placeholder="Your Email" class="footer__input" id="contact-user">
                        <button type="submit" class="button">
                            SUBSCRIBE
                        </button>
                    </form>

                    <p class="footer__message" id="contact-message"></p>
                </div>

                <div class="footer__content">
                    <div>
                        <h3 class="footer__title">
                            SERVICES    
                        </h3>
                            <ul class="footer__links">
                                <li>
                                    <a href="/services/flex" class="footer__link">Flex Muscles</a>
                                </li>
                                <li>
                                    <a href="/services/cardio" class="footer__link">Cardio Exercise</a>
                                </li>
                                <li>
                                    <a href="/services/yoga" class="footer__link">Basic Yoga</a>
                                </li>
                                <li>
                                    <a href="/services/weight" class="footer__link">Weight Lifting</a>
                                </li>
                            </ul>
                        
                    </div>

                    <div>
                        <h3 class="footer__title">
                        PRICING
                        </h3>
                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">Basic</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Premium</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Diamond</a>
                                </li>
                            </ul>
                        
                    </div>

                    <div>
                        <h3 class="footer__title">
                        COMPANY
                        </h3>
                            <ul class="footer__links">
                                <li>
                                    <a href="#" class="footer__link">About Us</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Careers</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Customers</a>
                                </li>
                                <li>
                                    <a href="#" class="footer__link">Partners</a>
                                </li>
                            </ul>
                        
                    </div>
                </div>
            </div>

            <div class="container" id="g-map">
                <iframe id="atlist" src="https://my.atlistmaps.com/map/c0b12cca-6721-475f-ae9b-704cf8a09abe?share=true" allow="geolocation" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
            </div>
            
            <section id="contact">
                <div class="container">
                    <div class="footer__group" id="contact-us">
                        <ul class="footer__social">
                            <a href="tel:<%= process.env.PHONE %>" target="_blank" class="footer__social-link">
                                <i class="ri-phone-fill"></i>
                            </a>
                            <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                                <i class="ri-facebook-circle-fill"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCzE4sqjaYZg17uT8trO7dTQ" target="_blank" class="footer__social-link">
                                <i class="ri-youtube-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/k2_fitness_studio/" target="_blank" class="footer__social-link">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </ul>
    
                        <!-- <span class="footer__copy">-->
    
                        </span>
                        <!-- <audio src="/assets/audio/evolution.mp3" autoplay loop></audio> -->
                    </div>
                </div>
            </section>
        </footer>

        <!-- ===================whatsapp================================ -->
        

        <!-- ===================Telephone================================ -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://wa.me/<%= process.env.PHONE %>?text=I%20wish%20to%20know%20more%20about%20your%20programs%20😇" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>
        
        <!--=============== SCROLLREVEAL ===============-->
        <script src="/assets/js/scrollreveal.min.js"></script>

        <!--=============== EMAIL JS ===============-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
        
        <!--=============== MAIN JS ===============-->
        <script src="/assets/js/main.js"></script>
        <!-- Calling jquery first -->
        <script language="JavaScript" type="text/javascript" src="/assets/js/jquery-3.3.1.slim.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <!- - Carousel -->
        <script language="JavaScript" type="text/javascript">
        $(document).ready(function(){
            $('.carousel').carousel({
            interval: 3000
            })
        });    
        </script>  
        

        <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> 
        <!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6386e2a1daff0e1306da2534/1gj3eahvb';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script> -->
    <!--End of Tawk.to Script-->
            
    </body>
</html>